body{
    background-color: #f5f8ff;
}

.btn{
    background: rgb(233, 90, 8);
    padding: 20px 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.plants-love{
    position: relative;
}

.plants-love img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plants-badge{
    position:absolute;
    top: -100px;
    right: -100px;
    width: 50%;
}

.plants-badge img{
    width: 100%;
}


